<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast" data-bs-autohide="false" role="alert" aria-live="assertive" aria-atomic="true" id="PasswordValidationToast">
            <div class="toast-header">
                <div style="height:20px;width:20px" class="rounded me-2 bg-danger"></div>
                <strong class="me-auto">Password Error</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <b id="PasswordErrorMessage"></b>
                <br />
                <ul id="PasswordPolicy" style="display:none">
                    <li>Atleast 1 Uppercase character A-Z</li>
                    <li>Atleast 1 Lowercase character a-z</li>
                    <li>Atleast 1 Special character !@@#$%^&*</li>
                    <li>Atleast 1 Numerical character 0-9</li>
                    <li>Atleast 8 characters</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="~/js/PasswordValidation.js"></script>