<h1 class="text-center text-light">This is a template for building MVC projects using .net core</h1>
<h4 class="text-center text-light">This template contains:</h4>
<ul class="text-light text-center">
    <li>Create script for database</li>
    <li>DB models</li>
    <li>Authentication methods</li>
    <li>Azure communication and storage integration</li>
    <li>Role based authorization logic</li>
    <li>Password recovery</li>
    <li>Account management</li>
    <li>"Contact us" using azure communication</li>
    <li>Security module (Cryptography)</li>
    <li>Notification framework</li>
</ul>

