@{
    ViewData["Title"] = "Recover Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="block-heading">
            <h1 class="text-light">Recover Password</h1>
        </div>
        @using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-floating mb-3">
                <input class="form-control" type="email" name="Email" id="email" placeholder="Email" required>
                <label for="email">Email</label>
            </div>
            @await Html.PartialAsync("~/Views/Shared/_Recaptcha.cshtml")
            <button class="btn btn-primary w-100" type="submit">Send Recovery Email</button>
        }
    </div>
</div>