@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1 class="text-light mb-3">Register</h1>
        @await Html.PartialAsync("~/Views/Account/Partials/_RegisterForm.cshtml")
    </div>
</div>