@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="block-heading">
            <h1 class="text-light">Reset Password</h1>
        </div>
        @using (Html.BeginForm("SetNewPassword", "Account", new { RecoveryID = ViewBag.RecoveryID }, FormMethod.Post, true, new { id = "NewPasswordForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-floating mb-3">
                <input class="form-control" onkeyup="ValidatePassword(this)" type="password" name="Password" id="Password" placeholder="New Password" required>
                <label for="Password">New Password</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control mt-1" onkeyup="PasswordsMatch()" type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" required>
                <label for="ConfirmPassword">Confirm Password</label>
            </div>
            @await Html.PartialAsync("~/Views/Shared/_Recaptcha.cshtml")
            <button type="button" onclick="SubmitForm('NewPasswordForm')" class="btn btn-primary w-100">Change Password</button>
        }
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_PasswordValidation.cshtml")
